<div style="width:@Width; height:@Height; @Style">
    <div class="sub-picture" style="background-image:url(@Src)"></div>
    @ChildContent
</div>

@code {
    [Parameter]
    public StringNumber Width { get; set; } = "300px";
    [Parameter]
    public StringNumber Height { get; set; } = "200px";
    [Parameter]
    public String Src { get; set; } = "";
    [Parameter]
    public String Style { get; set; } = "";
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}

<style>
    .sub-picture {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
</style>