@page "/Home"
@using PowerBearWebsite_Assembly.Components;
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
Welcome to your new app.
<MMain>
    <MContainer>
        <MButton>Click me</MButton>
        <MProgressCircular Size="42" Width="5" Indeterminate>
        </MProgressCircular>
    </MContainer>
</MMain>

@code {

}